DevOps_Implementation_Plan.aux
DevOps_Implementation_Plan.bbl
DevOps_Implementation_Plan.blg
DevOps_Implementation_Plan.fls
DevOps_Implementation_Plan.log
DevOps_Implementation_Plan.toc
texput.log
DevOps_Implementation_Plan.fdb_latexmk
DevOps_Implementation_Plan.synctex.gz