BarefootCyberTemplate.aux
BarefootCyberTemplate.bbl
BarefootCyberTemplate.blg
BarefootCyberTemplate.fls
BarefootCyberTemplate.log
BarefootCyberTemplate.toc
texput.log
BarefootCyberTemplate.fdb_latexmk
BarefootCyberTemplate.synctex.gz